*{
    margin: 0; padding:0; box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.site-header {
    width: 100%;
    height: 90vh;
    background: rgb(94, 1, 71);
    background: linear-gradient(57deg, rgb(255, 0, 128), rgb(107, 4, 81) ); 
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);

}


nav{
    width: 100%; height: 100px;
    display: flex; color: white;
    
}

.logo{
    width: 50%;
    height: 100px;
}

.logo h1 {
    line-height: 100px;
    padding-left: 50px;
}

.menu{
    width: 50%; height: 100px;
}

.menu ul{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:  center;
}

.menu ul li {
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

section { 
    display: flex;  
}

.leftside { 
    width: 45%; 
    height: auto; 
    overflow: hidden; 
    margin-top: 20px;
}

.leftside img {  
    width: 650px;  
    height: 550px; 
}

.rightside { 
    width: 55%; 
    height: 300px; 
    color: white; 
    text-align: center; 
    margin-top: 80px; 
    padding: 40px;
}

.rightside h1 { 
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
} 

.rightside p {  
    font-size: 1.1rem; 
    padding: 30px 0;
}

.rightside button {
    font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
    border-radius: 36px;
    padding: 20px 35px ; 
}

.rightside button:hover {
    background: linear-gradient(57deg, #1E4D92, #00C6A7 );   
}

.heading h1 {
    font-size: 24px;
    margin: 10px;
    padding-left: 10px;
}

.heading p {
    padding-left: 20px;
}

.news p{
    font-size: 12px;
    padding-left: 20px;
    padding-bottom: 30px;
}

footer {
    background-color:rgb(1, 10, 39);
    padding: 30;
    text-align: center;
    color: white;
    opacity: 40%;
    font-size: 8px;
}